<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head>
    <title>Book List</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <h1>Hello <span sec:authentication="name"></span>!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
    </form>
    <div class="container">

        <h1>Bookstore (Booklist)</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publication Year</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.publicationYear}"></td>
                    <td th:text="${book.isbn}"></td>
                    <td th:text="${book.price}"></td>
                    <td th:text="${book.category?.name}"></td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/edit/{bookId}(bookId=${book.bookId})}" class="btn btn-primary">Edit</a>
                        <a th:href="@{/delete/{bookId}(bookId=${book.bookId})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/add" class="btn btn-success">Add Book</a>

</body>

</html>